@import "./variables.scss";
@import "./mixins.scss";

.about {

  p {
    strong {
      display: block;
      font-weight: 400;
    }
  }
  
  ul {
    display:block;
    margin: 2.5em 0;

    @include respond-to("medium") {
      display: flex;
      justify-content: space-around;
    }

    li {
      margin: 0;
      padding: 1em;
      margin-bottom: 1em;
      vertical-align: top;
      

      @include respond-to("medium") {
        width: 350px;
        border-bottom: none;
        min-height: 100px;
      }

      &:last-child {
        margin-right: 0;
        border-right: none;
      }
    }
  }
}

