@import "./variables.scss";
@import "./mixins.scss";


.hero-banner {
  position: relative;
  background: url(../img/banner-01.jpg) center 55% no-repeat;
  background-size: cover;
  height: 380px;
  margin-bottom: 40px;

  @include respond-to("medium") {
    height: 720px;
    background-position: center 50%;
    margin-bottom: 100px;
  }

  ul {
    position: relative;
    list-style:circle !important;
    list-style-type: disc;
    text-align: center;
    text-transform: uppercase;
    z-index: 40;
    top: 25%;
    margin: 0 auto;
    max-width: 90%;

    @include respond-to("medium") {
      top: 50%;
    }

    li {
      position: relative;
      display: block;
      font-size: 1.9rem;
      font-weight: 400;
      margin: 0 0.5em 1em;
      color: $white;

      @include respond-to("medium") {
        font-size: 3.8rem;
        display: inline-block;
      }

      &:after {
        position: absolute;
        top: -34px;
        left: -25px;
        font-size: 58px;
        display: inline-block;
      }
    }

  }

  .down-link{
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    display: none;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url(../img/icons/arrow.svg) center no-repeat;
    background-size: contain;

    @include respond-to("medium") {
      width: 50px;
      height: 50px;
      display:block;
    }

    span {
      @include visuallyhidden;
    }
  }
}

.section-block {
  padding-bottom: 80px;
  background-color: $yellow;

  &:nth-child(even) {
    background-color: $black-haze;
  }
  .quote {
    // background-color: $green;
    color: $green;
    font-size: 1.3rem;
    text-align: center;
    max-width: 41em;
    margin: 2em auto 3em;
  }

  .section-title {
    text-align: center;
    margin-bottom: 28px;
  }

  .container-row {
    position: relative;

    @include respond-to("medium") {
      display: flex;
    }

    .block {
      align-items: left;
      width: 100%;
      margin-bottom: 18px;

      @include respond-to("medium") {
        max-width: 50%;
        padding-right: 1em;
        margin-right: 1em;
      }

      &.block-context {
        @include respond-to("medium") {
          padding-left: 40px;
        }
      }
    }
    
  }
  &.section-block--introduction{
    .block-profile {

      @include respond-to("medium") {
        width: 30em;
      }
  
        .profile { 
          object-fit: cover;
          border-radius: 100%;
          width: 300px;
          height: 300px;
          display: block;
          text-align: center;
          margin: 0 auto;
        }
    }

    .block-context {
      @include respond-to("medium") {
        max-width: 75%;
      }
    }
  }

  &.section-block--schedule,  
  &.section-block--mystory {
      .link.link-btn {
        display: block;
        max-width: 20em;
        margin: 1em auto;
      }
  }

  &.section-block--testimonials{
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }

  &.section-block--mystory{
    ul {
      display: flex;
      
      @include respond-to("medium") {  
        padding-bottom: 20px;
      }

      li {
        margin-right: 2px;
        width: 50%;

        @include respond-to("medium") {
          width: auto;
        }
      }

      img {
        display: block;
        object-fit: cover;
        max-width: 100%;
      }
    }
  }
  &.section-block--connect {
    .container-row {
      margin-top: 30px;

      .block {
        align-self:baseline;
        width: 100%;
        max-width: none;

        @include respond-to("medium") {
          width: 50%;
          padding: 0 20px 0 0;
          margin-right: 20px;
        }

        h3 {
          margin-bottom: 18px;
        }
      }
    }

    .contact-list {
      text-align: center;
      margin-bottom: 20px;

      li {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.0rem;

        span{
          display: block;
        }
        .contact-label {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: bold;
          color: $sambucus;
        }
        a {
          border-bottom: 1px solid transparent;

          .contact-link-name {
            display: inline-block;
          }

          &:hover {
            border-bottom: 1px solid $purple;
          }
        }
      }
    }
  }

  &.section-block--services {
    .services-list {
      

      @include respond-to("medium") {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }

      li {
        position: relative;
        margin-bottom: 1.5em;
        width: 100%;

        @include respond-to("medium") {
          width: 30%;
        }

        .service-text-overlay {
          position: absolute;
          width: 100%;
          height: 97%;
          top: 0;
          left: 0;
          padding: 1.5em;
          color: $white;
          background-color: rgba(0,0,0, 0.28);

          .service-title {
            font-weight: bold;
          }
        }

        img {
          width: 100%;
          object-fit: cover;
          height: 300px;
        }
      }
    }
  }
}
