@import "./variables.scss";
@import "./mixins.scss";


.hero-banner {
  position: relative;
  background: url(../../static/img/home-banner.jpg)  75% top no-repeat;
  background-size: cover;
  min-height: 60vh;
  margin-bottom: 40px;

  @include respond-to("medium") {
    min-height: 85vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
  }

  ul {
    position: relative;
    list-style:circle !important;
    list-style-type: disc;
    text-align: center;
    text-transform: uppercase;
    z-index: 40;
    top: 25%;
    margin: 0 auto;
    max-width: 87rem;

    @include respond-to("medium") {
      top: 36%;
    }

    li {
      position: relative;
      display: block;
      font-size: 1.9rem;
      font-weight: 400;
      margin: 0 0.5em 1em;
      color: $white;

      @include respond-to("medium") {
        font-size: 3.8rem;
        display: inline-block;
      }

      &:after {
        position: absolute;
        top: -34px;
        left: -25px;
        font-size: 58px;
        display: inline-block;
      }
    }

  }

  .down-link{
    position: absolute;
    color: #fff;
    top: 75%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url(../img/icons/arrow.svg) center no-repeat;
    background-size: contain;
    display:none;

    @include respond-to("small") {
      width: 50px;
      height: 50px;
      display:block;
    }

    span {
      @include visuallyhidden;
    }
  }
}

.section-block {
  padding-bottom: 80px;
  scroll-behavior: smooth;

  &:nth-child(odd) {
    // background-color: $light-green;
    background-color: rgba(162, 197, 172, 0.7);
    box-shadow: 0 0 3px 0 rgba(45,48,71,.22)
  }
  .quote {
    color: $green;
    font-size: 1.3rem;
    text-align: center;
    max-width: 41em;
    margin: 2em auto 3em;
  }

  .section-title {
    text-align: center;
    margin-bottom: 28px;
  }

  .container-row {
    position: relative;

    @include respond-to("medium") {
      display: flex;
    }

    .block {
      align-items: left;
      width: 100%;
      margin-bottom: 18px;

      @include respond-to("medium") {
        max-width: 50%;
        padding-right: 1em;
        margin-right: 1em;
      }

      &.block-context {
        @include respond-to("medium") {
          padding-left: 40px;
        }
      }
    }
    
  }

  } 
